.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 10rem;
    width: 40vw;
}

.form-group {
    width: 35vw;
    height: inherit;
    background-color: white;
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #4f85b4;
}

.my-row-input {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1.4rem 0px;
}

.my-row-label {
    background-color: #70ad46;
    height: inherit;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid #4f85b4;
    color: white;
}

.input-text {
    height: inherit;
    width: 200px;
    padding: 0px;
    border: 1px solid #4f85b4;
}

.form-input-radio {
    display: flex;
    align-items: center;
    height: inherit;
    width: 200px;
    padding: 0px;
}

.form-input-select {
    display: flex;
    align-items: center;
    height: inherit;
    width: 200px;
    padding: 0px;

}

.form-input-select select {
    border: 1px solid #4f85b4;
}

.triangle::before {
    content: "";
    position: relative;
    right: 23px;
    top: 23px;
    left: -38px;
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 33px solid #70ad46;
}

.input-birthday {
    display: flex;
    align-items: center;
    height: inherit;
    width: 145px;
    margin-right: 55px;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    border: 1px solid #4f85b4;
}

.my-row-input-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.btn-submit {
    height: 44px;
    width: 140px;
    border-radius: 5px;
    border: 1px solid #4f85b4;
    background-color: #70ad46;
    color: white;
}

.error {
    color: red;
    margin-left: 35px;
}